////Colors////
$body-color: #fff;
$body-bg: $black;
$black: #35363a;
$light: #fff;
$grey:#888;
$lightblue: #5493ff;
$lightgrey: #b3b3b3;

$font-light: 300;
$font-bold: 700;

///Breakpoints///
$xs: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$xl: 1024px;
$xxl: 1200px;
