#contact {
  background-color: #212529;
  border: 1px solid #3d444b;
}

.contact {
  padding-bottom: 150px;
}
.form-control {
  border: 1px solid #4f555a;
}

.form-label::after {
  content: "*";
  color: #fd7871;
  padding-left: 5px;
}

.from_alert {
  color: #fd7871;
}

