@import "../../styles/vars.scss";

.about {

  &.container {
    @include media-breakpoint-up(md) {
      max-width: $large;
    }
  }

  .card {
    min-height: 200px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}


