@import "./styles/variables.scss";
@import "./styles/spacings.scss";
@import '~bootstrap/scss/bootstrap';
@import "./styles/headings.scss";


@import "./components/navbar/navbar.scss";
@import "./components/banner/banner.scss";
@import "./components/about/about.scss";
@import "./components/skills/skills.scss";
@import "./components/experience/experience.scss";
@import "./components/portfolio/portfolio.scss";
@import "./components/contact/contact.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.lightblue {
  color: $lightblue;
}

body {
  background: $black;
  color: $white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  font-weight: $font-light;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $lightblue;
    text-decoration: none;
  }
}

.text-center-sm {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {
  .scroll-to-top {
    display: none;
  }
}

section {
  @extend .container;
  padding-top: $space-quadruple;
  padding-bottom: $space-quadruple;

  @include media-breakpoint-down(sm) {
    padding-top: $space-double;
    padding-bottom: $space-double;
  }
}
