@import "../../styles/variables.scss";
@import "../../styles/headings.scss";

.banner {
  span {
    @include heading-1($font-size: 32px, $color: $light);
  }

  @include media-breakpoint-down(lg) {
    .wrapper {
      flex-direction: column;
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    span {
      @include heading-1($font-size: 24px, $color: $light);
    }
  }

  .subtitle {
    font-weight: 100;
  }
}

.about {
  &.container {
    @include media-breakpoint-up(md) {
      max-width: $large;
    }
  }

  .card {
    min-height: 200px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
